@import url("https://fonts.google.com/specimen/Overpass");

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
    min-height: 100vh;
    display: grid;
    place-content: center;
    /* font-family: "Overpass"; */
}

.card,
.thank-you {
    width: 420px;
    height: 400px;
    background: linear-gradient(
        180deg,
        var(--Dark-Blue),
        var(--Very-Dark-Blue)
    );
    padding: 30px;
    border-radius: 25px;
    box-shadow: -3px 13px 16px -1px rgba(0, 0, 0, 0.25);
}

.heading {
    padding: 25px 0 15px 0;
}

.text {
    color: var(--Light-Grey);
    font-size: 15px;
    line-height: 25px;
}

.rating {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.rate {
    width: 50px;
    height: 50px;
    background: var(--Dark-Blue);
    color: var(--Light-Grey);
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.rate:hover {
    background: var(--Light-Grey);
    color: var(--White);
}

.rate.clicked {
    background: var(--Orange);
    color: var(--White);
}

.btn {
    background: var(--Orange);
    color: var(--White);
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background: var(--White);
    color: var(--Orange);
}

.thank-you {
    text-align: center;
    display: none;
}

.thank-you img {
    padding-bottom: 30px;
}

.out__of {
    padding: 10px 25px;
    width: fit-content;
    margin: auto;
    background: var(--Dark-Blue);
    border-radius: 100px;
    letter-spacing: 1.5px;
    color: var(--Orange);
}
.title {
    padding: 30px 0;
    font-size: 30px;
}

.subtext {
    color: var(--Light-Grey);
    line-height: 25px;
}

@media screen and (max-width: 450px) {
    body {
        max-width: 720px;
    }

    .card,
    .thank-you {
        width: 330px;
        height: 450px;
    }
}
